$main_color: #a3dfbb;

$main_color_light: #c9f0d6;
$main_color_dark: #7fc89a;

$gray_100: #f9f9f9;

$gray_200: #eee;

$gray_300: #ddd;

$gray_400: #aaa;

$gray_500: #666;

$gray_600: #333;
$black_color: #1f1f1f;

$error_color: #e74c3c;
// $hl_t_c: '';