// @tailwind base;
@tailwind components;
@tailwind utilities;
@import 'include/reset.scss';
@import 'include/variable.scss';

// 공통
*{font-family: 'Noto Sans KR', sans-serif; color: #444;}
body, html{ 
    letter-spacing: 0.25px;
}

hr{ opacity: 0.6;}
input{
    &:disabled, &:read-only{
        background-color: $gray_200;
        &:hover{cursor: no-drop;}
    }
    border-radius: 5px;
    border: 0px solid #defefe;
    border: 1px solid $gray_300;
    padding: 4px 10px;
    &:focus{outline: 0px solid #000; background-color: transparent; border: 2px solid #71dd9c;}
    &[type='checkbox']{
        display: none;
        &+label{
            position: relative;
            display: inline-block;
            width: max-content;
            padding-left: 25px;
            line-height: 15px;
            color: $gray_600;
            &::before{
                content: "";
                display: block;
                border: 1px solid $gray_300;
                border-radius: 5px;
                width: 15px; height: 15px;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
            &:checked{
                &+label{
                    &::before{
                        content:"";
                        background-color: $main_color_dark;
                    }
                    &::after{
                        content:"\e929";
                        font-family: xeicon !important;
                        color: $gray_100;
                        position: absolute;
                        left: 2.5px;
                        top: 2px;
                    }
                }
            }

    }
}
select{
    &:disabled, &:read-only{
        background-color: $gray_200;
        &:hover{cursor: no-drop}
    }
}
.select2-container--default .select2-selection--single{
    border-color: $gray_300;
    font-size: 13px;
}

textarea{
    border-color: $gray_300;
    border-radius: 5px;
}
button, .cm-btn{ 
    border-radius: 5px;
    transition: all linear 0.16s;
    position: relative;
    background-color: $gray_300;
    overflow: hidden;
    display: inline-block;
    padding: 0px 10px;
    font-size: 14px;
    box-sizing: border-box;
    height: 28px;
    line-height: 26px;
    &:hover{
        cursor: pointer;
        color: $gray_100;
        background-color: darken($gray_300, 30%);
        transition: background-color 0.3s ease;
        box-shadow: -1px 2px 4px 0px darken($gray_200, 30%);
        span,i{ color: inherit; font-weight: inherit;}
    }
    &.icon-btn{
        i{ margin-right: 5px;}
    }
    &.cta-btn{
        background-color: $main_color !important;
        &:hover{
        background-color: darken($main_color, 30%) !important;
        }
    }
    &.delete-btn{
        background-color: $error_color;
        color: $gray_100;
        &:hover{
            background-color: darken($error_color, 30%);
        }
    }
    &.active{
        background-color: darken($main_color, 30%); 
        color: $gray_100;
        & > i{color: inherit;}
    }
}

.cm-label{
    border-radius: 5px;
    padding: 2.5px 10px;
    height: 25px;
    font-size: 14px;
    font-weight: 600;
    margin-right: 0px;
    line-height: 24px;
    display: inline-block;
    background-color: $gray_300;
    color: $gray_100;
    &.deadline{ background-color: $gray_400; color: $gray_100}
    &.in-progress{ background-color: $main_color; }
    &.today{background-color: $main_color_dark; color: $gray_100;}
    &.progress{background-color: $gray_300; color: $gray_500}
}
.helper-text{
    font-size: 12px; color: $gray_500;
    font-weight: 500; margin-left: 5px;
    vertical-align: middle;
    line-height: inherit;
}



.participants-count{ 
        height: 30px; margin-bottom: 15px;
        .progress-bar{
            width: 100%;
            line-height: 24px;
            height: 25px;
            padding: 0 10px;
            background-color: #eee;
            box-sizing: border-box;
            font-size: 12px;
            border-radius: 15px;
            position: relative;
            overflow: hidden;
            text-align: center;
            .progress{ position: absolute; height: 100%; background-color: $main_color; left: 0;}
            .progress + div{ position: relative; z-index: 1;}
        }
    }

.header{
    width: 100%; height: 60px; padding: 15px 40px; box-sizing: border-box;
    display: flex; justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: $gray_600;
    color: $gray_100;
    & > div{width: 100px; height: 30px; background-color: #71dd9c;}
    ul{
        display: flex;
        gap: 20px;
        li{
            color: $gray_100;
            a, span{
                color: inherit;
                &:hover{
                    color: $main_color_dark;
                }
            }
            .cm-btn{
                span{color: $gray_600}
                &:hover{color: $gray_100}
            }
        }
    }
}
.fold{ display: none;}

.flex-wrap{ 
    display: flex; justify-content: space-between; align-items: center;
    &.right{justify-content: right;}
    &.left{justify-content: left;}
}

.pagination-sec{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    nav{
        box-shadow: 1px 1px 1px $gray_100;
        & > div{
            &:last-child{
                & > div{
                    &:first-child{
                        display: none;
                    }
                    a{ 
                        &:hover{cursor: pointer;}
                    }
                    a.bg-white{
                            background-color: $gray_100;
                        &:hover{
                            background-color: darken($gray_100, 30%);
                            color: $gray_100;
                            cursor: pointer;
                        }
                    }
                    span.bg-white{
                        background-color: $gray_400;
                        color: $gray_100;
                        font-weight: 500;
                        &:hover{
                            cursor: not-allowed;
                        }
                    }
                }
            }
        }
    }
}


footer{
    width: 100%; height: 200px; padding: 15px 40px; box-sizing: border-box;
    display: flex; justify-content: space-between; margin-top: 40px;
    background-color: #444;
    color: $gray_100;
}

[class*='-sec']{
    padding-top: 100px;
    width: 1200px;
    margin: 0 auto;
    // background-color: $main_color;
    table{
        margin-bottom: 20px;
        width: 100%;
        th{
            width: 200px;
            text-align: left;
            line-height: 59px;
            i{ margin-left: 10px;}
            &:nth-child(3n){padding-left: 40px;}
        }
        td{margin-right: 20px; padding-bottom: 20px;  box-sizing: border-box;}
        input[type='text'], input[type='number']{ width: 100%; box-sizing: border-box; }
        select{ width: 100%; }
    }
    [class*='-content']{
        margin-bottom: 60px;
    }
    h1{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 15px;
    }
    .button-con{
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 10px;
        button{
                float: right;
                background-color: #aaa;
                font-size: 14px;
                font-weight: 400;
        }
    }
    .datetime-wrap{
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .datetime-duration-disable{ 
        text-align:  right;
        margin-top: 20px;
        label{
            font-size: 12px; vertical-align: middle;
        }
    }
    .region-wrap{
        display: flex;
        gap: 10px;
        align-items: center;
        &>div{flex-shrink: 0;}
        input[type='checkbox']{vertical-align: middle;}
        label{ font-size: 12px; vertical-align: middle; }
    }

    .title-wrap{
        margin-bottom: 20px;
    }
}


// 로딩 시
.loading-sec{
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0 ,0, 0.7);
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
    z-index: 999;
    & > div{
        z-index: 1000;
        max-width: 1000px;
        min-height: 100px;
        background-color: $gray_100;
        border-radius: 10px;
        position: absolute;
        top: 30%;
        transform: translateX(calc(-50%));
        left: 50%;
        padding: 20px 60px;
        h1{ font-size: 20px; margin-bottom: 20px;}
        p{margin-bottom: 20px;}
        i{font-size: 20px;}
    }
}


.list-sec{
    .list-wrap{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        & > li{
            padding: 15px 10px;
            box-sizing: border-box;
            border-radius: 10px;
            width: calc(25% - 15px);
            outline: 1px solid #eee;
            &:hover{
                cursor: pointer;
                box-shadow: 1px 5px 12px $gray_300;
            }
            a > div{
                display: flex;
                align-items: center;
                gap: 5px;
                margin-bottom: 10px;
                p.helper-text{ line-height: 1.5;}
                &:last-child{
                    margin-bottom: 0;
                }
            }
            a > .participants-wrap{
                display: block;
            }
            .list-tit{
                width: 30%; text-overflow: ellipsis; overflow: hidden;
                white-space: nowrap;
            }
            &.list{
                &.deadline{
                    background-color: $gray_100;
                    color: $gray_600;
                }
            }
        }
    }
    .list-deadline{
        .d-day{
            font-size: 20px;
            font-weight: 600;
            vertical-align: middle;
        }
        .helper-text{ line-height: 1.5;}
    }
    .content-head{
        margin-bottom: 20px;
        .filter-list{
            display: flex;
            align-items: center;
            gap: 10px;
            height: 30px;
            line-height: 28px;
            input:focus{ padding: 1.5px 10px;}
            .search-wrap{
                & > button{ margin-left: -5px;}
            }
        }
    }
    .participants-profile{
        display: flex;
        align-items: center;
        gap: 5px;
        width: 80%;
        & > li{
            width: 30px;
            height: 30px;
            border: 1px solid $gray_300;
            border-radius: 30px;
            &:first-child{
                border-width: 0px;
                height: max-content;
                width: max-content;
            }
        }
    }
    .participants-count{
        height: max-content;
        display: flex;
        gap: 5px;
        .progress-bar{
            line-height: 14px;
            height: 15px;
        }
    }

}

.detail-sec{
    h1{font-weight: 700;}
    hr{margin: 20px 0;}
    h2{margin-bottom: 20px; font-size: 18px; font-weight: 500;}
    table{
        // border: 1px solid $gray_500;
        border-radius: 4px;
        tr{
            th,td{
                border: 1px solid #eee;
                padding: 5px;
            }
            th{background-color: $gray_300; padding-left: 0;}
        }
    }
    pre{
        border: 1px solid #eee;
        border-radius: 4px;
        padding: 20px; box-sizing: border-box;
    }
    .header-con{
        p{ 
            display: flex; gap: 5px;
            span{
                &:last-child{ color: $gray_500; line-height: 16px;}
            }
        }
        
    }
    
    .participants-list{
        &>div{ 
            margin-bottom: 15px;
            .list-title{ 
                width: max-content; gap: 10px;
            }
        }
        h3{ font-size: 14px;}
        li {height: 25px; line-height: 24px; margin-top: 1px solid #eee;}
    }
    .delete-btn-wrap{ margin-top: 20px;}
}

// crud layout



// 회원가입
.signup-sec{
    // step
    nav{
        width: 100%;
        height: 100px;
        text-align: center;
        margin: 15px 0;
        ul{ 
            height: 50px;
            display: flex;
            gap: 5px;
            align-items: center;
            justify-content: center;
            li{
                width: 100px;
                height: 100%;
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 55px;
                    right: 5px;
                    height: 2px;
                    background-color: $gray_500;
                }
                &:last-child
                {
                    width: 50px;
                    &::after{
                        display: none;
                    }
                }
                p{
                    width: 50px;
                    height: 100%;
                    border-radius: 50px;
                    background-color: $gray_300;
                    color: $gray_100;
                    line-height: 48px;
                    text-align: center;
                }
                span{
                    margin-top: 10px;
                    display: block;
                    width: 50px;
                    word-break: keep-all;
                    line-height: 1.25;
                    font-size: 12px;
                    font-weight: 500;
                }
                &.active{
                    p{
                        background-color: $main_color;
                    }
                }
            } //li end
        }
    } //step end
    // 공통 적용
    .step{
        display: none;
        h1{
            font-size: 26px;
            font-weight: 600;
            margin-bottom: 40px;
        }
    }
    .step.active{display: block;}
    // step 1 기본정보
    .step1-sec{
        width: 60%;
        margin: 0 auto;
        dl{
            dt label{ font-size: 18px; font-weight: 500;}
            dd input{ margin-top: 15px; width: 100%}
            margin-bottom: 30px;
        }
        button{
            margin-top: 30px;
            background-color: $gray_300;
            width: 100%;
            padding: 0px;
            font-size: 16px;
            font-weight: 400;
        }
    }//step1 기본정보 end
    // 닉네임 중복 체크
    .step2-sec{
        display: none;
        &.active{ display: flex; }
        justify-items: center;
        flex-direction: column;
        gap: 30px;
        .icon{
            width: 120px; height: 120px;
            background-color: antiquewhite;
            margin-top: 60px;
            margin-bottom: 30px;
        }
        dl{
            dt h1{ margin-bottom: 30px;}
            dd {
                input{ width: 70%;}
                button{ 
                    width: 20%;
                    background-color: $gray_300;
                    padding: 0px;
                    font-size: 13px;
                    font-weight: 400;
                    &.active{
                        background-color: $main_color;
                        color: $gray_100;
                    }
                } 
            }
        } // input창
        // 추천 닉네임
        .suggested-nickname{
            width: 100%;
            text-align: left;
            margin-top: 60px;
            h2{ font-size: 18px; font-weight: 600; margin-bottom: 20px;}
            .lists{
                width: 100%;
                display: flex;
                gap: 10px;
                li{ 
                    background-color: $gray_300; padding: 10px 15px; border-radius: 15px;
                    &:hover{
                        background-color: $main_color;
                        color: $gray_100;
                        cursor: pointer;
                    }
                }
            }
        } // 추천 닉네임 end
    }// 닉네임 end
    .step3-sec{
            width: 100%;
            ul{
                display: flex;
                flex-wrap: wrap;
                border: 2px solid $gray_300;
                border-radius: 4px;
                overflow: hidden;
                li{
                    width: 20%;
                    height: 100px;
                    line-height: 98px;
                    text-align: center;
                    outline: 1px solid $gray_300;
                    &:hover, &.active{
                        cursor: pointer;
                        outline: 1px solid $main_color;
                        color: $main_color;
                        font-weight: 600;
                    }
                }
            }
            button{
                margin-top: 30px;
                background-color: $gray_300;
                width: 100%;
                font-size: 16px;
                font-weight: 400;
            }
        }
}