// @tailwind base;
@tailwind components;
@tailwind utilities;
@import 'include/reset.scss';
@import 'include/variable.scss';

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
// 공통
.err{color: $error_color !important;}
*{font-family: 'Noto Sans KR', sans-serif; color: #444;}
body, html{ 
    letter-spacing: 0.25px;
    scroll-behavior: smooth;
}

hr{ opacity: 0.6;}

main{ min-height: calc(100vh - 180px);}

input{
    width: 100%;
    padding: 10px 15px;
    border: 1px solid $gray_200;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    transition: border-color 0.3s;
    &:disabled, &:read-only{
        background-color: $gray_200;
        &:hover{cursor: no-drop;}
    }
    // border-radius: 5px;
    // border: 0px solid #defefe;
    // border: 1px solid $gray_300;
    // padding: 4px 10px;
    &:focus{outline: 0px solid #000; background-color: transparent; border: 2px solid #71dd9c;}
    &[type='checkbox']{
        display: none;
        &+label{
            position: relative;
            display: inline-block;
            width: max-content;
            padding-left: 25px;
            line-height: 15px;
            color: $gray_600;
            &::before{
                content: "";
                display: block;
                border: 1px solid $gray_300;
                border-radius: 5px;
                width: 15px; height: 15px;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
            &:checked{
                &+label{
                    &::before{
                        content:"";
                        background-color: $main_color_dark;
                    }
                    &::after{
                        content:"\e929";
                        font-family: xeicon !important;
                        color: $gray_100;
                        position: absolute;
                        left: 2.5px;
                        top: 2px;
                    }
                }
            }

    }
}

// select custom
.select2-container--default .select2-selection--single{ padding: 6px 0; height: max-content; border-color: $gray_100}
.select2-container--default .select2-selection--single .select2-selection__arrow{    
    top: 50%;
    transform: translateY(-50%);
    right: 9px;
}
.top-btn{
    position: fixed;
    bottom: 100px;
    right: 30px;
    background-color: $gray_200;
    border-radius: 100%;
    padding: 10px;
    border-radius: 100%;
    &:hover{ 
        background-color: $gray_400; color: $gray_100;
        transition: background-color 0.3s ease;
        box-shadow: -1px 2px 4px 0px darken($gray_200, 30%);
        a, i{color: inherit}
    }
}

ul.helper-list{
    li{
        margin-top: 20px;
        position: relative;
        margin-bottom: 10px;
        padding-left: 15px;
        color: $gray_400;
        font-weight: 500;
        font-size: 12px;
         &::before{
            content:"-";
            position: absolute;
            left: 0;
         }
         &.err{
            font-weight: 600;
            &::before{
                content:"\ea2d";
                font-family: 'xeicon'!important;

            }
         }
    }
}
// 정보 테이블
.info-list {
    list-style: none;
    margin: 0;
    padding: 20px;
    border: 1px solid $gray_200;
    border-radius: 10px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
        border-bottom: 1px solid $gray_200;
        &:last-child {
            border-bottom: none;
        }
    }
    .label {
        font-size: 14px;
        font-weight: 600;
        color: $gray_500;
        i{ margin-left: 5px;}
    }

    .value {
        font-size: 14px;
        font-weight: 500;
        color: #333;
        min-width: 60%;
        textarea{width: 100%; padding: 8px; box-sizing: border-box;}
    }
}



.member-list-wrap {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid $gray_300;
    border-radius: 12px;
    background: #fff;

    .member-list {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 16px;
            border-bottom: 1px solid $gray_100;
            min-height: 56px;
            gap: 10px;
            &:hover {
                background: $gray_200;
            }

            &.title {
                font-weight: 600;
                color: #555;
                background: $gray_100;
            }
            span,div {
                display: flex;
                align-items: center;
                min-width: 60px;
            }
            .name,.nickname{ width: 25%;}
            .profile{
                width: 60px; height: 60px; border-radius: 100%;
                background-color: $gray_100; object-fit: contain;
                img{width: 100%; object-fit: contain;}
                &.crown{
                    position: relative;
                    &::after{
                        content: "";
                        background-image: url("../../../public/images/crown.png");
                        display: block;
                        position: absolute;
                        height: 20px;
                        width: 100px;
                        background-repeat: no-repeat;
                        background-size: contain;
                        top: -11px;
                        left: 5px;
                        z-index: 2;
                    }
                }
            }
            .actions-btn, .actions{ width: 100px; justify-content: center;}
        }
    }
}




select{
    &:disabled, &:read-only{
        background-color: $gray_200;
        &:hover{cursor: no-drop}
    }
}
.select2-container--default .select2-selection--single{
    border-color: $gray_300;
    font-size: 13px;
}

textarea{
    border-color: $gray_300;
    border-radius: 5px;
}
button, .cm-btn{
    border-radius: 5px;
    transition: all linear 0.16s;
    position: relative;
    background-color: $gray_300;
    overflow: hidden;
    display: inline-block;
    padding: 0px 10px;
    font-size: 14px;
    box-sizing: border-box;
    height: 28px;
    line-height: 26px;
    &:hover{
        cursor: pointer;
        color: $gray_100;
        background-color: darken($gray_300, 30%);
        transition: background-color 0.3s ease;
        box-shadow: -1px 2px 4px 0px darken($gray_200, 30%);
        span,i{ color: inherit; font-weight: inherit;}
    }
    &.icon-btn{
        i{ margin-right: 5px;}
    }
    &.cta-btn{
        background-color: $main_color_dark !important;
        color: $gray_100;
        i{ color: inherit; }
        &:hover{
            background-color: darken($main_color, 30%) !important;
            color: $gray_100;
        }
        &.active{ background-color: darken($main_color_dark, 30%) !important;}
    }
    &.delete-btn{
        background-color: $error_color;
        color: $gray_100;
        &:hover{
            background-color: darken($error_color, 30%);
        }
    }
    &.active{
        background-color: darken($main_color, 30%); 
        color: $gray_100;
        & > i{color: inherit;}
    }
    &.exit-btn{
        background-color: $error_color;
        color: $gray_100;
        &:hover{ background-color: darken($error_color, 30%);}
    }

    span{ color: inherit}
    &:disabled{ 
        background-color: $gray_400; color: $gray_500;
        &:hover{cursor: not-allowed}
    }
}

.cm-label{
    border-radius: 5px;
    padding: 2.5px 10px;
    height: 25px;
    font-size: 12px;
    font-weight: 600;
    margin-right: 0px;
    line-height: 20px;
    display: inline-block;
    background-color: $gray_300;
    color: $gray_100;
    box-sizing: border-box;
    &.deadline{ background-color: $gray_400; color: $gray_100}
    &.in-progress{ background-color: $main_color; }
    &.today{background-color: $main_color_dark; color: $gray_100;}
    &.progress{background-color: $gray_300; color: $gray_500}
}
.helper-text{
    font-size: 12px; color: $gray_500;
    font-weight: 500; margin-left: 5px;
    vertical-align: middle;
    line-height: inherit;
}

.participants-count{ 
        height: 30px; margin-bottom: 15px;
        .progress-bar{
            width: 100%;
            line-height: 24px;
            height: 25px;
            padding: 0 10px;
            background-color: #eee;
            box-sizing: border-box;
            font-size: 12px;
            border-radius: 15px;
            position: relative;
            overflow: hidden;
            text-align: center;
            .progress{ position: absolute; height: 100%; background-color: $main_color; left: 0;}
            .progress + div{ position: relative; z-index: 1;}
        }
    }

.header{
    width: 100%; height: 60px; box-sizing: border-box;
    position: sticky; z-index: 999;
    top: 0;
    background-color: $gray_600;
    color: $gray_100;
    & > div{width: 1200px; margin: 0 auto; height: 100%;}
    .login-link{line-height: 58px;}
    .logo{
        width: 100px; height: 40px;
        img{
            height: 100%;
            object-fit: contain;
        }
    }
    div > ul{
        height: 100%;
        display: flex;
        gap: 20px;
        li{
            color: $gray_100;
            &.active{
                color: $main_color;
            }
            div, a, span, p, i{ color: inherit; }
            &:hover{
                a, span{
                    color: $main_color_dark;
                    font-weight: 500;
                    }
                }
            }
            .cm-btn{
                &:hover{
                    span{
                        color: $gray_100;
                    }
                }
            }
            button.logout{
                background-color: transparent; border-width: 0px; color: $gray_100;
                &:hover{box-shadow: none; color: $main_color_dark}
            }
        }
        .username{
            position: relative;
            height: 100%;
            .username-user{
                font-size: 14px;
                span{ 
                    font-size: 16px;
                    font-weight: 500;
                }
            }
            &>div{height: 100%}
            .mypage-dropdown{
                height: 0px;
                overflow: hidden;
                position: absolute;
                min-width: 160px;
                top: 50px;
                left: 50%;
                transform: translateX(-50%);
                background-color: #fff;
                box-shadow: 1px 5px 12px $gray_300;
                border-radius: 10px;
                opacity: 0;
                padding: 20px 25px;
                box-sizing: border-box;
                z-index: 30;
                li{
                    height: 35px;
                    line-height: 34px;
                    text-align: center;
                    border-bottom: 2px solid $gray_200;
                    a{
                        color: $gray_600;
                    }
                    &:hover{
                        a{ color: $main_color_dark; transition: color 0.2s linear; font-weight: 600;}
                        
                    }
                    &:last-child{ border-bottom: 0px solid #fff;}
                }
            }
            &:hover{
                cursor: pointer;
                .mypage-dropdown{ height: max-content; opacity: 1; transition: opacity 0.4s linear;}
            }
    }
}
.fold{ display: none;}

.flex-wrap{ 
    display: flex; justify-content: space-between; align-items: center;
    &.right{justify-content: right;}
    &.left{justify-content: left;}
}

.pagination-sec{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    nav{
        box-shadow: 1px 1px 1px $gray_100;
        & > div{
            &:last-child{
                & > div{
                    &:first-child{
                        display: none;
                    }
                    a{ 
                        &:hover{cursor: pointer;}
                    }
                    a.bg-white{
                            background-color: $gray_100;
                        &:hover{
                            background-color: darken($gray_100, 30%);
                            color: $gray_100;
                            cursor: pointer;
                        }
                    }
                    span.bg-white{
                        background-color: $gray_400;
                        color: $gray_100;
                        font-weight: 500;
                        &:hover{
                            cursor: not-allowed;
                        }
                    }
                }
            }
        }
    }
}

.tabs {
    display: flex;
    margin-bottom: 15px;
    .tab {
    padding: 8px 15px;
    cursor: pointer;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: border-color 0.2s ease;

    &.active {
        border-color: $main_color;
        color: $gray_600;
    }

        &:hover {
            color: $main_color;
        }
    }
}



footer{
    width: 100%; height: 80px; padding: 15px 40px; box-sizing: border-box;
    display: flex; justify-content: space-between; margin-top: 40px;
    background-color: #444;
    color: $gray_100;
}

[class*='-sec']{
    padding-top: 100px;
    width: 1200px;
    margin: 0 auto;
    // background-color: $main_color;
    .info-list,table{
        margin-bottom: 20px;
        width: 100%;
        .label,th{
            width: 200px;
            text-align: left;
            // line-height: 59px;
            i{ margin-left: 10px;}
            &:nth-child(3n){padding-left: 40px;}
        }
        .value,td{margin-right: 20px;  box-sizing: border-box;}
        input[type='text'], input[type='number']{ width: 100%; box-sizing: border-box; }
        select{ width: 100%; }
        .recruited-num-wrap{
            flex-wrap: nowrap;
            gap: 10px;
            &   >  div{
                flex-shrink: 0;
                gap: 5px;
            }
        }
    }
    [class*='-content']{
        margin-bottom: 60px;
    }
    h1{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    .button-con{
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 10px;
        button{
                float: right;
                background-color: #aaa;
                font-size: 14px;
                font-weight: 400;
        }
    }
    .datetime-wrap{
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .datetime-duration-disable{ 
        text-align:  right;
        margin-top: 20px;
        label{
            font-size: 12px; vertical-align: middle;
        }
    }
    .region-wrap{
        display: flex;
        gap: 10px;
        align-items: center;
        &>div{flex-shrink: 0;}
        input[type='checkbox']{vertical-align: middle;}
        label{ font-size: 12px; vertical-align: middle; }
    }

    .title-wrap{
        margin-bottom: 20px;
    }
}


// 로딩 시
.loading-sec{
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0 ,0, 0.7);
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
    z-index: 999;
    justify-content: center;
    &.active{
        display: flex;
    }
    .msg {
        display: none;
        position: relative;
        top: 30%;
        background: $gray_100;
        padding: 20px 30px;
        border-radius: 12px;
        text-align: center;
        max-width: 360px;
        width: 80%;
        flex-shrink: 0;
        box-shadow: 0 8px 20px rgba(0,0,0,0.2);
        animation: fadeInScale 0.2s ease forwards;
        height: max-content;
        h1 {
            font-size: 20px;
            margin: 0 16px 20px 0px;
            color: $gray_600;
            line-height: 1.6;
            .msg-con {
            color: $main_color_dark;
            font-weight: 600;
            }
        }

        p {
            font-size: 15px;
            color: $gray_600;
            margin-bottom: 16px;
        }

        div i {
        font-size: 32px;
        color: $main_color;
        }

        .state-icon{
            color: $main_color_dark;
            i{color: inherit}
            &.error{ color: $error_color; }
        }

        &.modal, &.confirm{
            width: 50%;
            max-width: none;
            .modal-head{
                h1{
                    text-align: left; margin-bottom: 15px;
                    
                }
                border-bottom: 1px solid $gray_300;
                margin-bottom: 20px;
            }
            .modal-con{
                margin-bottom: 20px;
                text-align: left;
                line-height: 1.6;
            }

            .modal-buttons{
                width: 100%;
                display: flex;
                gap: 5px;
                justify-content: right;
            }
        }

        &.confirm{ 
            width: 25%;
            .msg-con-wrap{ margin-bottom: 40px;}
            h1{ text-align: left; margin-bottom: 20px;}
            p{ text-align: center;}
            i{font-size: 3em; color: $error_color}
        }

        & > .close-btn{
            width: 30px; height: 30px;
            position: absolute;
            right: 15px; top: 15px;
            line-height: 30px;
            i{ font-size: 16px; color: $gray_500; }
            &:hover{
                background-color: $gray_300;
                transition: background-color 0.3s ease;
                box-shadow: -1px 2px 4px 0px darken($gray_200, 30%);
                border-radius: 100%;
                cursor: pointer;
            }
        }
}


}


.list-sec{
    .content-head{
            margin-bottom: 20px;
            .filter-list{
                display: flex;
                align-items: center;
                gap: 10px;
                height: 30px;
                line-height: 28px;
                input{padding: 5px 15px; width: calc(100% - 29px);}
                input:focus{ padding: 1.5px 10px;}
                .search-wrap{
                    & > button{ margin-left: -5px;}

                }
            }
        }
        .select2-container--default .select2-selection--single{ padding: 0; height: max-content;}
        .select2-container--default .select2-selection--single .select2-selection__arrow{    
            top: 1px;
            transform: unset;
            right: 1px;
        }
    .list-wrap{
         
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        & > li{
            padding: 15px 10px;
            box-sizing: border-box;
            border-radius: 10px;
            width: calc(25% - 15px);
            outline: 1px solid #eee;
            &:hover{
                cursor: pointer;
                box-shadow: 1px 5px 12px $gray_300;
            }
            a > div{
                display: flex;
                align-items: center;
                gap: 5px;
                margin-bottom: 10px;
                p.helper-text{ line-height: 1.5;}
                &:last-child{
                    margin-bottom: 0;
                }
            }
            a > .participants-wrap{
                display: block;
            }
            .list-tit{
                width: 30%; text-overflow: ellipsis; overflow: hidden;
                white-space: nowrap;
            }
            &.list{
                &.deadline{
                    background-color: $gray_100;
                    color: $gray_600;
                }
            }
            &.empty-list{
                outline-width: 0px;
                min-height: 50vh;
                width: 100%;
                vertical-align: middle;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover{
                    box-shadow: none;
                }
            }
        }
    }
    .list-deadline{
        .d-day{
            font-size: 20px;
            font-weight: 600;
            vertical-align: middle;
        }
        .helper-text{ line-height: 1.5;}
    }
   
    .participants-profile{
        display: flex;
        align-items: center;
        gap: 5px;
        width: 80%;
        & > li{
            width: 30px;
            height: 30px;
            border: 1px solid $gray_300;
            border-radius: 30px;
            &:first-child{
                border-width: 0px;
                height: max-content;
                width: max-content;
            }
        }
    }
    .participants-count{
        height: max-content;
        display: flex;
        gap: 5px;
        .progress-bar{
            line-height: 14px;
            height: 15px;
        }
    }

}

.detail-sec{
    h1{font-weight: 700;}
    hr{margin: 20px 0; border-color: $gray_100;}
    h2{margin-bottom: 20px; font-size: 18px; font-weight: 600;}
    table{
        // border: 1px solid $gray_500;
        border-radius: 4px;
        tr{
            th{
                background-color: $gray_300; padding-left: 0;
                &:nth-child(odd){padding: 5px;}
            }
            th,td{
                border: 1px solid #eee;
                padding: 5px;
            }
        }
    }
    pre{
        border: 1px solid #eee;
        border-radius: 4px;
        padding: 20px; box-sizing: border-box;
    }
    .header-con{
        p{ 
            display: flex; gap: 5px;
            span{
                &:last-child{ color: $gray_500; line-height: 16px;}
            }
        }
        
    }
    
    .participants-list{
        &>div{ 
            // margin-bottom: 15px;
            .list-title{ 
                width: max-content; gap: 10px;
            }
        }
        h3{ font-size: 14px;}
        li {height: 25px; line-height: 24px; margin-top: 1px solid #eee;}
    }
    .delete-btn-wrap{ margin-top: 20px;}

}

// crud layout
//mypage
.mypage-sec{
    .image-con{
        position: relative;
        width: 200px;
        height: 200px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 30px;
        border-radius: 200px;
        border: 1px solid $gray_400;
        background-color: $main_color_dark;
        overflow: hidden;
        img{width: 100%; object-fit: cover;}
        #profile_image_input{display: none;}
        label{
            position: absolute;
            bottom: 30px;
            right: 30px;
            width: 35px;
            height: 35px;
            line-height: 30px;
            border-radius: 35px;
            padding: 0; text-align: center;
            box-shadow: -1px 2px 4px 0px darken($gray_200, 30%);
            i{ vertical-align: middle; font-size: 18px;}
         }
    }
}

.mystudy-sec{
    padding-top: 50px;
    .head-con {
        span,i{ 
            color: $gray_400;

        }
        span{
            &:hover{
                color: $main_color_dark;
                cursor: pointer;
                font-weight: 600;
                i{color: inherit; font-weight: inherit;}
            }
        }
        h1{margin-bottom: 0;}
        margin-bottom: 20px;
    }
    .filter-list{
        display: flex;
        gap: 10px;
        margin-bottom: 15px;
        & > .list{
            padding: 5px 10px;
            border-radius: 10px;
            background: $gray_400;
            color: $gray_100;
            font-size: 14px;
            &.active{
                background-color: $gray_600;
                background-color: $main_color_dark;
                font-weight: 600;
            }
            &:hover{ cursor: pointer; background-color: $main_color; transition: background 0.2s linear;}

        }
    }
    hr{border-color: $gray_200; opacity: 0.4; margin: 30px 0;}
}

//== mypage end

// 로그인

.login-wrap{
     background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    // box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    transform: translateY(-50%);
    margin-bottom: 0;
    width: 400px;
    text-align: center;
    input{ margin-bottom: 20px; }
    .login-logo {
        max-width: 120px;
        margin-bottom: 30px;
    }
    .login-info {
        p {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 20px;
        }
        .msg{ color: $main_color; font-weight: 600; font-size: 1.15em}
    }

    // form
    .login-form 
    { 
        .login-btn {
            width: 100%;
            padding: 15px;
            height: max-content;
            &:hover{
                background-color: $main_color;
            }
        }
    }

    .links-container {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            font-size: 14px;
            a{
                color: $gray_600;
                &:hover{
                    text-decoration: underline;
                }
            }
        }

        // 소셜로그인
        .social-wrap {
            display: flex;
            align-items: center;
            text-align: center;
            color: $gray_300;
            margin: 30px 0;
            &::before,&::after{
                content: '';
                flex: 1;
                border-bottom: 1px solid $gray_500;
            }
            &:not(:empty){
                &::before{
                    margin-right: .5em;
                }
                &::after{
                    margin-left: .5em;
                }
            }
            .social-login-title {
                font-size: 14px;
                color: $gray_600;
                margin-bottom: 20px;
            }
            .social-login-buttons {
                display: flex;
                justify-content: center;
                gap: 20px;
                .social-btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border: 1px solid $gray_500;
                    color: $gray_600;
                    font-size: 24px;
                    text-decoration: none;
                    transition: background-color 0.3s;
                    &:hover{
                         background-color: $gray_100;
                    }
                }
            }
        }

}


//== 로그인 end
// 회원가입
.signup-sec{

    .step1-wrap{
        width: 60%;
        margin: 0 auto;
        dl{
            dt label{ font-size: 18px; font-weight: 500;}
            dd {
                margin-bottom: 30px;
                input{ margin-top: 15px; width: 100%}
                & >.msg{
                    max-height: 35px; height: max-content; font-size: 12px; font-weight: 600; color: $error_color;
                    position: relative; padding-left: 15px;
                    overflow: hidden;
                        &.success{ color: $main_color_dark;}
                        &.err{
                            &::before{
                            content:"\ea2d";
                            position: absolute;
                            left: 0;
                            top: 3px;
                            font-family: 'xeicon'!important;
                            color: $error_color;
                        }
                    }
                }
                & > div{position: relative; width: 100%;}
                button{ position: absolute; right: 5px; top: 50%; transform: translateY(calc( -50% + 7.5px))}
                span.select2.select2-container.select2-container--default{
                   width: 100% !important; margin-top: 15px;
                }
                
            }
        }
       
    }
    
}

